/* Base Styles */

#mainCanvas {
    background-color: black;
}

body {
    color: #00A000;
    background-color: red;
    margin: 0;
    padding: 0;
}

div.topleft {
    position: absolute;
    top: 10px;
    left: 10px;
}

div.topright {
    position: absolute;
    top: 10px;
    right: 10px;
}

div.bottom {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);
}

.hand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 150px;
    height: 200px;
    border: 1px solid #006000;
    margin: 10px;
}

.uibox {
    border: 1px solid #006000;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title button {
    display: block;
    margin: auto;
}

.title .letters {
    font-size: 42;
}

.title .text {
    color: black;
    display: inline-block;
    animation-name: titleAnim;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

button {
    color: #00A000;
    background-color: black;
    border-color: #00A000;
    border-radius: 15px;
}

@keyframes titleAnim {
    0% {
        color: black;
        transform: translate(0px, -50%);
    }
    25% {
        color: green;
        transform: translate(0px, 0px);
    }
    75% {
        color: green;
        transform: translate(0px, 0px);
    }
    80% {
        color: black;
    }
    100% {
        color: black;
    }
    /*
    50% {
        color: black;
        transform: translate(0px, 50%);
    }
    51% {
        color: black;
        transform: translate(0px, 0px);
    }
    */
}

.gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.intent {
    color: white;
    position: absolute;
    transform: translate(-50%, -15px);
    margin: 0px;
    padding: 5px;
    text-align: center;
    pointer-events: none;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
                  -1px -1px 0 #000;
}

.float {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 5px;
    text-align: center;
    pointer-events: none;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
                  -1px -1px 0 #000;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    color: yellow;
}

.attackIcon {
    width: 20;
    height: 20;
    vertical-align: middle;
}

@keyframes floatLift {
    100% {transform: translate(-50%, -50%) translate(0px, -50px)}
}

.partTargetMenu {
    position: absolute;
    border: 1px solid #006000;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 5px;
}

.part {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

/* Modifiers */

.playable:hover {
    border: 1px solid white;
    animation-name: throbble;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: default;
}

.unplayable {
    color: #004000;
}

.unplayable.highlight {
    border: 1px solid gray;
}

.partOpen {
    border: 1px solid #006000;
    border-radius: 10px;
}

.highlight {
    border: 1px solid #00FF00;
}

.throb {
    border: 1px solid white;
    animation-name: throbble;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes throbble {
    0% { border: 1px solid #006000; }
}