#mainCanvas {
    background-color: black;
}

body {
    color: white;
    background-color: red;
    margin: 0;
    padding: 0;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

div.topleft {
    position: absolute;
    top: 10px;
    left: 10px;
}

div.topright {
    position: absolute;
    top: 10px;
    right: 10px;
}

.uibox {
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
}

.highlightBox {
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.intent {
    position: absolute;
    transform: translate(-50%, -15px);
    margin: 0px;
    padding: 5px;
    text-align: center;
    pointer-events: none;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
                  -1px -1px 0 #000;
}

.float {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 5px;
    text-align: center;
    pointer-events: none;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
                  -1px -1px 0 #000;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes floatLift {
    100% {transform: translate(-50%, -50%) translate(0px, -50px)}
}

.partHover {
    font-weight: bold;
}

.partOpen {
    border: 1px solid white;
}

.partHighlight {
    border: 1px solid blue;
}

.partTargetMenu {
    position: absolute;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 5px;
}

.invalidTarget {
    color: gray;
}

.validTarget:hover {
    background-color: rgba(0, 0, 127, 0.5);
    cursor: default;
}