#mainCanvas {
    background-color: black;
}

body {
    background-color: white;
}

.center {
    display: flex;
    align-items: center;
    height: 100%;
}

.side {
    flex-grow: 1;
    width: 100px;  /* elements grow proportional to original size? */
}